.modal__image{
    display: flex;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 498px;
    width: 100%;
    border-radius: 10px;
}

.modal__container_type_image{
    padding: 0;
}

.modal__footer{
    display: flex;
    flex-direction: column;
    margin: 20px 0 32px 32px;
    gap: 12px;
}

.modal__caption{
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
}

.modal__weather{
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}