.item-card{
    position: relative;
    display: flex;
    justify-content: center;
    width: 323px;
    height: 326px;
    cursor: pointer;
}

.item-card__name{
    position: relative;
    max-width: 73px;
    max-height: 24px;
    background-color: #ffffff;
    font-size: 12px;
    font-family: 'CabinetGrotesk-Regular', Arial, sans-serif;
    line-height: 20px;
    border-radius: 10%;
    padding: 0 12px 0 12px;
    margin: 0 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-card__image{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10%;
    border: solid #000000 1px;
}

.item-card__button{
    position: relative;
    background-image: url('../../assets/likeButton.svg');
    border: none;
    width: 20px;
    height: 17px;
    background-color: transparent;
    visibility: visible;
}

.item-card__info {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute; 
    top: 15px; 
    left: 0; 
    right: 0; 
}

.item-card__button-liked{
    background-image: url('../../assets/likeButtonActive.svg');
}

.item-card__button-hidden{
    visibility: hidden;
}
