.header{
    display: flex;
    /* width: 1360px;
    height: 40px; */
    padding: 32px 0 0 0;
    justify-content: space-between;
    align-items: center;
    font-family: 'CabinetGrotesk-Regular', Arial, sans-serif;
}

.header__contents{
    display: flex;
}

.header__logo{
    cursor: pointer;
}

.header__date{
    cursor: default;
}

.header__nav_content{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.header__date{
    font-weight: 700;
    padding: 0 0 0 24px;
}

.header__nav_user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__add-clothes{
    border: none;
    background: transparent;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px 0 14px;
}

.button__add-clothes:hover{
    opacity: .6;
}

.header__nav_user-name{
    max-width: 157px;
    max-height: 25px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 12px 0 0;
    cursor: pointer;
    color: #000;
}

.header__nav_register{
    max-width: 157px;
    max-height: 24px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px 0 20px;
    cursor: pointer;
    color: #000;
    border: none;
    padding: 0;
}

.header__nav_register:hover{
    opacity: .6;
}

.header__nav_login{
    max-width: 67px;
    max-height: 24px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #000;
    border: none;
}

.header__nav_login:hover{
    opacity: .6;
}

.header__nav_avatar-name:hover{
    opacity: .6;
}

.header__nav_avatar_logo{
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.header__nav_avatar_logo:hover{
    opacity: .6;
}

.header__profile-link{
    text-decoration: none;
}