.modal__image{
    display: flex;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 498px;
    width: 100%;
    /* height: 498px; */
    border-radius: 10px;
}

.modal__container_type_image{
    padding: 0;
}

.modal__footer{
    display: flex;
    flex-direction: column;
    margin: 20px 32px 32px 32px;
    gap: 12px;
}

.modal__caption{
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
}

.modal__weather{
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.modal__delete{
    display: flex;
    justify-content: space-between;
}

.item__delete-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #FF4D00;
}

.item__delete-button_visible{
    /* border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'CabinetGrotesk-Bold', Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #FF4D00; */
    visibility: visible;
}

.item__delete-button_hidden{
    visibility: hidden;
}